server:
  port: 8093

spring:
  application:
    name: human_resources_service


  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jasypt:
    encryptor:
      algorithm: PBEWithHMACSHA512AndAES_256
      iv-generator-classname: org.jasypt.iv.RandomIvGenerator
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc.lob.non_contextual_creation: true